<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/_fonts %>
        <link rel="stylesheet" href="../../bundle/css/styles.css">
    </head>
    <body>
    	<b>TEST!!!!!!!!!!!!!!!!!!!!!!!<br></b>
    	<b>TEST!!!!!!!!!!!!!!!!!!!!!!!<br></b>
    	<b>TEST!!!!!!!!!!!!!!!!!!!!!!!<br></b>
    	<b>TEST!!!!!!!!!!!!!!!!!!!!!!!<br></b>
    	<b>TEST!!!!!!!!!!!!!!!!!!!!!!!<br></b>
    	<b>TEST!!!!!!!!!!!!!!!!!!!!!!!<br></b>
    	<b>TEST!!!!!!!!!!!!!!!!!!!!!!!<br></b>
    	<b>TEST!!!!!!!!!!!!!!!!!!!!!!!<br></b>
    	<b>TEST!!!!!!!!!!!!!!!!!!!!!!!<br></b>
        <% include ../partials/_testimonial %>

        <% include ../partials/_cta %>

        <% include ../partials/_filterable-content %>

	<div>
		<ul>
		  <%= for(var i=0; i < media.length; i++) { %>
		  <li class="quote">
		    <div><b>TITLE:</b> <%= media[i].title %></div>
		    <div><b>YEAR:</b> <%= media[i].year %></div>
		    <div><b>POSTER:</b> <%= media[i].poster %></div>
		    <div><b>GENDER:</b> <%= media[i].gender %></div>
		    <div><b>TYPE:</b> <%= media[i].type %></div>
		  </li>
		  <hr>
		 <% } %>
		</ul>
	</div>

    </body>
</html>