<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/_fonts %>
        <base href="/">
        <link rel="stylesheet" type="text/css" href="../css/global.css" />
    </head>
    <body>
    	<div class="contentHolder">
	    	<div class="header">
	    		<% include ../partials/_header %>
	    	</div>
	    	<div class="moviesList">
	    		<p>MOVIES AND THUMBNAILS</p><br>
	    		<p>MOVIES AND THUMBNAILS</p><br>
	    		<p>MOVIES AND THUMBNAILS</p><br>
	    		<p>MOVIES AND THUMBNAILS</p><br>
	    	</div>
	    	
	    	<div class="header">
		    	<% include ../partials/_testimonial %>
		    </div>
	        <div class="testimonialBlock">
				<div>
					<div>
						<p>Polaroid bushwich microdosing tattooed. Cornhold single coffee bicycle rights lumbersexual, pour-over
							intelligents ethical selfies schlitz raw denim 90's leggings. Art party fap lumbersexual mustache actually tilde
							disrupt kinfolk goth +1.</p>
						<span>Indiana Jones, Archaeologist</span>
					</div>
					<a>Tell Me More</a>
				</div>
			</div>

	        <% include ../partials/_cta %>

	        <% include ../partials/_filterable-content %>

			<ul>
			  <% for(var i=0; i < bla.length; i++) { %>
			  <li class="quote">
			    <div><b>TITLE:</b> <%= bla[i].title %></div>
			    <div><b>YEAR:</b> <%= bla[i].year %></div>
			    <div><b>POSTER:</b> <%= bla[i].poster %></div>
			    <div><b>GENDER:</b> <%= bla[i].gender %></div>
			    <div><b>TYPE:</b> <%= bla[i].type %></div>
			  </li>
			  <hr>
			 <% } %>
			</ul>
		</div>
    </body>
</html>